{{!-- {{page-title "Sam"}}
<div class="messages">
  <ReceivedMessage/>
  <SentMessage/>
  <NewMessageInput/>
</div>


<BlogPost @body="el valor del body" as |valor|>
  <hr>
  {{valor}}
  <span>jejerejej</span>
</BlogPost> --}}

{{!-- <Counter/> --}}
<DoubleIt/>

{{outlet}}